body {
    background-color: #00ff0d;
}
#homepage_button {
    background-color: aqua;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    font-size: 16pt;
    font-weight: bolder;
    position: relative;
}
.andrew-mad-sussy_container {
    background-color: #424d42;
    border-style: solid;
    border-color: #3a3f3a;
    border-width: 10px;
    border-radius: 10px;
}
#andrew-mad-sussy_header-text {
    background-color: #00ff0d;
    border-color: #3a3f3a;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 20pt;
    font-weight: 900;
    color: red;
}
#logo {
    margin: 0;
}
h1 {
    color: white;
    text-align: center;
}